{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "MSSQL_CONNECTION_STRING": "Server=localhost,1435;Database=DurableDB;User Id=sa;Password=<YourStrong!Passw0rd>;TrustServerCertificate=True;",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "AZURE_OPENAI_ENDPOINT": "<Your Azure OpenAI endpoint>",
    "AZURE_OPENAI_CHAT_DEPLOYMENT_NAME": "<Your Azure OpenAI chat deployment name>"
  }
}
