<#@ template language="C#" inherits="CodeTemplate" visibility="internal" #>
<#@ assembly name="System.Core" #>
internal sealed class <#= this.Name #>Executor(FormulaSession session) : ActionExecutor(id: "<#= this.Id #>", session)
{
    protected override async ValueTask ExecuteAsync(IWorkflowContext context, CancellationToken cancellationToken)
    {
        await context.QueueStateUpdateAsync("<#= this.VariableName #>", UnassignedValue.Instance, "<#= this.TopicName #>").ConfigureAwait(false);
    }
}