<#@ template language="C#" visibility="internal" #>
<#@ import namespace="Microsoft.Agents.Workflows.Declarative.Extensions" #>
<#@ import namespace="Microsoft.Bot.ObjectModel" #>
<#@ assembly name="System.Core" #>
internal sealed class <#= this.Name #>Executor() : ActionExecutor(id: "<#= this.Id #>")
{
    protected override async ValueTask ExecuteAsync(IWorkflowContext context, CancellationToken cancellationToken)
    { <#
if (this.Model.Activity is MessageActivityTemplate messageActivity)
{ #>
        string activityText = 
            await context.FormatTemplateAsync( <#
    foreach (TemplateLine line in messageActivity.Text)
    {  #>
                """<#
        foreach (string text in line.ToTemplateString().ByLine())
        { #>
                <#= text #><#
        } #>
                """<#
    } 
     #>
            );
        AgentRunResponse response = new([new ChatMessage(ChatRole.Assistant, activityText)]);
        await context.AddEventAsync(new AgentRunResponseEvent(this.Id, response)).ConfigureAwait(false);<#
} #>
    }
}