<#@ template language="C#" visibility="internal" #>
<#@ import namespace="Microsoft.Agents.Workflows.Declarative.Extensions" #>
<#@ import namespace="Microsoft.Bot.ObjectModel" #>
<#@ assembly name="System.Core" #>
/// <summary>
/// The root executor for a declarative workflow.
/// </summary>
internal sealed class <#= this.TypeName #>Executor<TInput>(
    Func<TInput, ChatMessage> inputTransform,
    IConfiguration? configuration) :
    RootExecutor<TInput>("<#= this.Id #>", configuration)
    where TInput : notnull
{
    protected override async ValueTask ExecuteAsync(TInput message, IWorkflowContext context, CancellationToken cancellationToken)
    {
        ChatMessage input = inputTransform.Invoke(message);
        //await context.SetLastMessageAsync(input).ConfigureAwait(false); // %%% SYSTEM VARS
        await context.QueueStateUpdateAsync("LastMessageText", input.Text, "System").ConfigureAwait(false);

        // Set environment variables<#
        foreach (string variableName in this.TypeInfo.EnvironmentVariables)
        { #>
        await context.QueueStateUpdateAsync("<#= variableName #>", this.GetEnvironmentVariable("<#= variableName #>"), "Env").ConfigureAwait(false); <#
        }
        #>

        // Set user variables to default values<#
        foreach (VariableInformationDiagnostic variableInfo in this.TypeInfo.UserVariables)
        {#>
        await context.QueueStateUpdateAsync("<#= variableInfo.Path.VariableName #>", UnassignedValue.Instance, "<#= variableInfo.Path.VariableScopeName #>").ConfigureAwait(false);<#
        }
        #>
    }
}
