<?xml version="1.0" encoding="utf-8"?>
<Configuration>
    <CodeCoverage>
        <!-- Match attributes on any code element: -->
        <Attributes>
            <Exclude>
                <!-- Don't forget "Attribute" at the end of the name -->
                <Attribute>^System\.CodeDom\.Compiler\.GeneratedCodeAttribute$</Attribute>
                <Attribute>^System\.Diagnostics\.CodeAnalysis\.ExcludeFromCodeCoverageAttribute$</Attribute>
                <Attribute>^System\.Runtime\.CompilerServices\.CompilerGeneratedAttribute$</Attribute>
            </Exclude>
        </Attributes>
    </CodeCoverage>
</Configuration>