<#+
void AssignVariable(PropertyPath targetVariable, string valueVariable)
{
#>
        await context.QueueStateUpdateAsync(key: "<#= VariableName(targetVariable) #>", value: <#= valueVariable #>, scopeName: "<#= VariableScope(targetVariable) #>").ConfigureAwait(false);<#+
}
#>