<#+
void EvaluateIntExpression(IntExpression expression, string targetVariable, bool isNullable = false)
{
    string typeName = isNullable ? "int?" : "int";
    if (expression is null)
    {#>
        <#= typeName #> <#= targetVariable #> = <#= isNullable ? "null" : "0" #>;<#+ 
    }
    else if (expression.IsLiteral)
    {#>
        <#= typeName #> <#= targetVariable #> = <#= expression.LiteralValue #>;<#+ 
    }
    else if (expression.IsVariableReference)
    {#>
        <#= typeName #> <#= targetVariable #> = await context.ReadStateAsync<<#= typeName #>>(key: "<#= expression.VariableReference.VariableName #>", scopeName: "<#= expression.VariableReference.VariableScopeName #>").ConfigureAwait(false);<#+
    }
    else if (expression.IsExpression)
    {#>
        <#= typeName #> <#= targetVariable #> = await context.EvaluateExpressionAsync<int>(<#= FormatStringValue(expression.ExpressionText) #>).ConfigureAwait(false);<#+ 
    }
    else
    {
        throw new DeclarativeModelException($"Unsupported value type for action '{this.Id}'.");
    }
}
#>